@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --background: #16161a;
  --border-size: 3px;
  --button: #f0cf5a;
  --button-text: #fffffe;
  --ease: cubic-bezier(0, 0.8, 0.37, 1.28);
  --font: "Montserrat", sans-serif;
  --headline: #fffffe;
  --highlight: #f0cf5a;
  --highlight-dark: #857335;
  --heading: #fffffe;
  --navbar-height: 72px;
  --text: #94a1b2;
  --secondary-background: #72757e;
  --subheading: #94a1b2;
  --terriary: #2cb67d;
  --terriary-dark: #1b724e;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--secondary-background);
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 5px;
}

::selection {
  background-color: #6cc9a2;
  color: var(--heading);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font);
  background-color: var(--background);
  color: var(--text);
}

.container {
  min-height: 100vh;
  margin: 0 auto;
  display: block;
}
