.section {
  min-height: 100vh;
  padding: var(--navbar-height) 100px 0;
  min-width: 300px;
  max-width: 100vw;
}

/* Intro Section */

.introduction {
  padding-top: var(--navbar-height);
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.introLeft {
  max-width: 600px;
}

.introLeft h1 {
  font-size: 5rem;
  font-weight: 800;
  color: var(--heading);
}

.introLeft h3 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.introLeft p {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 3rem;
}

.imageContainer {
  width: 32rem;
}

.image {
  object-fit: contain;
  width: 100%;
  position: relative !important;
  height: unset !important;
  z-index: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons div:first-child {
  margin-right: 5rem;
}

/* About Section */

.about {
  background-color: green;
}

.services {
  background-color: pink;
}

.clientele {
  background-color: burlywood;
}

.reviews {
  background-color: gold;
}

.contact {
  background-color: salmon;
}

@media only screen and (max-width: 1300px) {
  .imageContainer {
    width: 30rem;
  }
}

@media only screen and (max-width: 1150px) {
  .imageContainer {
    display: none;
  }
  .introduction {
    justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  .introLeft h1 {
    font-size: 4rem;
  }
  .introLeft h3 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .introLeft {
    max-width: 300px;
  }
  .introLeft h1 {
    font-size: 3rem;
  }
  .introLeft h3 {
    font-size: 1.75 rem;
  }
}
@media only screen and (max-width: 370px) {
  .introLeft {
    max-width: 175px;
  }
  .introLeft h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .introLeft h3 {
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  .introLeft p {
    margin-bottom: 2rem;
    font-size: 0.75rem;
  }

  .buttons div:first-child {
    margin-right: 1rem;
  }
}
