.section {
  min-height: 100vh;
  padding: 0 100px 0;
  min-width: 300px;
  max-width: 100vw;
}

/* Intro Section */

.introduction {
  padding-top: var(--navbar-height);
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.introLeft {
  max-width: 600px;
}

.introLeft h1 {
  font-size: 5rem;
  font-weight: 800;
  color: var(--heading);
}

.introLeft h3 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.introLeft p {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 3rem;
}

.imageContainer {
  width: 35rem;
  padding: 0 2rem;
}

.image {
  object-fit: contain;
  width: 100%;
  position: relative !important;
  height: unset !important;
  z-index: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.buttons div:first-child {
  margin-right: 5rem;
}

/* About Section */

.about {
  background-color: var(--secondary-background);
  padding: 72px 100px;
}
.about .aboutHeading {
  font-size: 4rem;
  color: var(--heading);
  font-weight: 700;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.about .aboutPara {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.aboutQuestions {
  padding: 1rem;
}
/* Services Section */

.services {
  background-color: pink;
}

.clientele {
  background-color: burlywood;
}

.reviews {
  background-color: gold;
}

.contact {
  background-color: salmon;
}

@media only screen and (max-width: 1400px) {
  .section {
    padding: 0 100px 0;
  }
  .imageContainer {
    width: 30rem;
  }
  .about {
    padding: 72px 100px;
  }
}

@media only screen and (max-width: 1280px) {
  .section {
    padding: 0 100px 0;
  }
  .imageContainer {
    width: 25rem;
  }
  .introLeft {
    max-width: 425px;
  }
  .introLeft h1 {
    font-size: 3.75rem;
  }
  .introLeft h3 {
    font-size: 1.75rem;
  }
  .about {
    padding: 72px 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .introduction {
    justify-content: center;
  }

  .imageContainer {
    display: none;
  }

  .introLeft h1 {
    font-size: 4rem;
  }
  .introLeft h3 {
    font-size: 2rem;
  }
  .about {
    text-align: center;
    padding: 72px 50px;
  }
  .about .aboutHeading {
    margin-bottom: 0;
    margin-left: 0;
    font-size: 3rem;
  }

  .about .aboutPara {
    margin-bottom: 0;
    margin-left: 0;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 520px) {
  .introLeft {
    max-width: 300px;
  }
  .introLeft h1 {
    font-size: 3rem;
  }
  .introLeft h3 {
    font-size: 1.5rem;
  }
  .about {
    padding: 72px 0px;
  }
}
@media only screen and (max-width: 374px) {
  .section {
    padding: 0 100px 0;
  }
  .introLeft {
    max-width: 250px;
  }
  .introLeft h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .introLeft h3 {
    margin-bottom: 2.5rem;
    font-size: 1rem;
  }
  .introLeft p {
    margin-bottom: 3rem;
    font-size: 0.75rem;
  }

  .buttons div:first-child {
    margin-right: 1rem;
  }
  .about {
    padding: 72px 0px;
  }
}
